Backup/MAE_0.0635_360ep_dense128/model_020.hdf5
Backup/MAE_0.0635_360ep_dense128/model_040.hdf5
Backup/MAE_0.0635_360ep_dense128/model_060.hdf5
Backup/MAE_0.0635_360ep_dense128/model_080.hdf5
Backup/MAE_0.0635_360ep_dense128/model_240.hdf5
Backup/MAE_0.0635_360ep_dense128/model_100.hdf5
Backup/MAE_0.0635_360ep_dense128/model_120.hdf5
Backup/MAE_0.0635_360ep_dense128/model_140.hdf5
Backup/MAE_0.0635_360ep_dense128/model_160.hdf5
Backup/MAE_0.0635_360ep_dense128/model_180.hdf5
Backup/MAE_0.0635_360ep_dense128/model_200.hdf5
Backup/MAE_0.0635_360ep_dense128/model_220.hdf5
Backup/MAE_0.0635_360ep_dense128/model_260.hdf5
Backup/MAE_0.0635_360ep_dense128/model_280.hdf5
Backup/MAE_0.0635_360ep_dense128/model_300.hdf5
Backup/MAE_0.0635_360ep_dense128/model_320.hdf5
Backup/MAE_0.0635_360ep_dense128/model_340.hdf5
Backup/MAE_0.0635_360ep_dense128/model_360.hdf5
Backup/MAE_0.0737_71ep_dense64/log.csv
Backup/MAE_0.0737_71ep_dense64/model_069.hdf5
Backup/MAE_0.0737_71ep_dense64/model_070.hdf5
Backup/MAE_0.0737_71ep_dense64/model_071.hdf5
__pycache__/data_generator.cpython-36.pyc
models/AFNN_128/log.csv
Backup/MAE_0.0635_360ep_dense128/log.csv
models/AFNN_128/model_020.hdf5
Backup/MAE_0.101_20ep_deep_dense64/log.csv
Backup/MAE_0.101_20ep_deep_dense64/model_020.hdf5
Backup/MSE_165_20rep_deep_dense64/log.csv
Backup/MSE_165_20rep_deep_dense64/model_010.hdf5
Backup/MSE_165_20rep_deep_dense64/model_020.hdf5
models/AFNN_128/model_040.hdf5
models/AFNN_128/model_060.hdf5
models/AFNN_128/model_080.hdf5
models/AFNN_128/model_100.hdf5
models/AFNN_128/model_120.hdf5
models/AFNN_128/model_140.hdf5
models/AFNN_128/model_160.hdf5
models/AFNN_128/model_180.hdf5
models/AFNN_128/model_200.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_160.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/log.csv
Backup/Res_dense128_MSE_166_200rep_fit/model_020.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_040.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_060.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_080.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_100.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_120.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_140.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_160.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_180.hdf5
Backup/Res_dense128_MSE_166_200rep_fit/model_200.hdf5
Backup/deep2_4filters_dense64_MSE_396_40ep_fit/log.csv
Backup/deep2_4filters_dense64_MSE_396_40ep_fit/model_020.hdf5
Backup/deep2_4filters_dense64_MSE_396_40ep_fit/model_040.hdf5
Backup/deep3_dense128_MSE_486_40ep_fit/log.csv
Backup/deep3_dense128_MSE_486_40ep_fit/model_020.hdf5
Backup/deep3_dense128_MSE_486_40ep_fit/model_040.hdf5
Backup/deep3_dense64_MSE_450_20ep_fit/log.csv
Backup/deep3_dense64_MSE_450_20ep_fit/model_020.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/log.csv
Backup/deep4_dense128_MSE_200_200ep_fit/model_020.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_040.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_060.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_080.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_100.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_120.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_140.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_180.hdf5
Backup/deep4_dense128_MSE_200_200ep_fit/model_200.hdf5
Backup/deep_dense64_MAE_0.101_20ep_fitgen/log.csv
Backup/deep_dense64_MAE_0.101_20ep_fitgen/model_020.hdf5
Backup/deep_dense64_MSE_165_20ep_fitgen/log.csv
Backup/deep_dense64_MSE_165_20ep_fitgen/model_010.hdf5
Backup/deep_dense64_MSE_165_20ep_fitgen/model_020.hdf5
